.container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

body {
    color: black;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
}

.header {
    margin-top: 30px;
    height: 170px;
    background-image: url(img/header.jpg);
    background-repeat: round;
}

.logo {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}

.menu li a {
    font-size: 20px;
    color: darkblue;
    font-family: "Times New Roman", serif, Verdana;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
    list-style-type: none;
}

.menu {
    text-align: right;
    margin: 20px;
    float:right;
}

.menu li {
    list-style-type: none;
    display: inline-block;

}

.menu li a:hover {
    color: darkred;

}

.menu li a:active {
    color: aqua;
}

.menu table,
td {
    width: 100px;
    vertical-align: top;
}

.item_info {
    font-size: 18px;
    color: black;
    font-weight: 400;
    background: #eaeaea;
    clear: both;
}

.item_short {
    font-size: 14px;
    color: #707070;
    font-style: italic;
    line-height: 16px;
    margin-left: 10px;
    width: 50%;
    float: left;
}

.item_short:first-letter {
    font-size: 16px;
    color: darkblue;
}

.buy:hover {
    color: red;
}

.buy:active {
    color: white;
}

.item_long {
    font-size: 16px;
    color: #484343;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    text-align: left;
}

.item_long:first-letter {
    font-size: 26px;
    color: darkblue;
}

.item_vars {
    font-size: 18px;
    color: #484343;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    list-style-image: url(img/list.jpg);
}

.item_table {
    font-size: 15px;
    color: black;
    text-align: center;
    border: 1px solid red;
    height: 200px;
    width: 500px;
    border-collapse: collapse;
}

.item_table td {
    border: 1px solid green;
    vertical-align: middle;
}

.item_table tr:first-child {
    height: 20px;
    color: brown
}

.product1 {
    float: left;
    width: 30%;
    text-align: center;
}

.product2 {
    float: left;
    width: 30%;
    text-align: center;

}

.product3 {
    float: left;
    width: 30%;
    text-align: center;
}

.catalog img {
    float: left;
}

.contact_form {
    font-size: 14px;
    color: green;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.contact_form input {
    font-size: 14px;
    font-family: "Times New Roman", serif, Verdana;
    text-transform: capitalize;
    background-color: cornsilk;
    color: red;
    line-height: 16px;
    width: 15%;
    text-align: center;
    border: 1x solid grey;
}

.photo_border {
    outline: 2px solid darkblue;
    float: left;
}

.photo_border:hover {
    outline: 0px solid blue;
}

.footer {
    height: 70px;
    background-color: darkgrey;
    padding-top: 4px;
    padding-right: 10px;
    text-align: right;
    clear: both;
}
